<h1>New Task</h1>


<%= form_tag "/tasks", method: :post do %>

  <div class="new-item-form">
    Task Name: <input type="text" name="title">
  </div>

    <div class="new-item-form">
    Task Description: <input type="text" name="description">
  </div>

  <input type="hidden" name="project_id" value="<%= @project.id %>">

  <input type="date" name="deadline" min="<%= Date.today %>" value="<%= Date.today %>">


  <input type="submit" value="create task">

<% end %>
