<h1>Edit Project</h1>

  <%= form_tag "/projects/#{ @project.id }", method: :patch do %>

    <div class="new-item-form">
      Project Name: <input type="text" name="name" value="<%= @project.name%>">
    </div>

    <input type="submit" value="Update">

<% end %>