

<% if user_signed_in? %>

<p>Hello <%= current_user.email %></p>
  <% @projects.each do |project| %>
    <h1><a href="/projects/<%= project.id %>"> <%= project.name %></a></h1>
  <% end %>
    <a class="btn btn-primary" href="/projects/new" role="button">Create New Project!</a>
<% else %>
  <%= render 'layouts/static_landing_page' %>
<% end %>

